
.App {
  text-align: center;
}

.header{
  height: 10vh;
  border-bottom: 1px solid cornflowerblue;
  box-shadow: 3px 3px 5px 6px #cccC;
  z-index: 1000;
  background:linear-gradient(to right ,#1c9191, #46bdbd, #1c9191) ;
}

.workSpace{
  border: 1px solid black;
  height: 100%;
  min-height: 90vh;
}

